<h1>{{title}}</h1></br>
<h4>Welcome to {{title}} App.
    To access this application, you need to create a new account. Or you can login, if you already registered your account.

    Once it's verified that you are an authenticated user for this application, you would be redirected to Patient List Page, where you can see all the upcoming appoinments.

    You can add new patients in the list, delete the patient , edit the information of patient.
</h4></br>
<h4>On the categories page, you view categories of doctors.
    You can also add a new category to the list of categories. </h4></br>
<h4>You also login via your GitHub account.</h4>

