<h1>
    {{title}}
</h1>
<!-- A form to fill to add new category and this would send the information back to the server through POST -->
<form method="POST">
    <fieldset>
        <label for="name" class="col-2">
            Name:
        </label>
        <input name="name" id="name" required />
    </fieldset>
    <button class="offset-3 btn btn-primary">
        Add
    </button>
</form>